page-contact {
    overflow-y: scroll;

    #map {
        height: 100%;
    }

    .button-md {
        background-color: orange;
    }

}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

.sebm-google-map-container {
  height: 300px;
}