<ion-header>
  <ion-navbar>
    <ion-title>{{'LIVE' | translate}}
      <!--Live
      <div>{{title}}</div>-->
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

 <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="'PULL' | translate" refreshingSpinner="circles" [refreshingText]="'REFRESH' | translate">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-divider>{{'LIVE_VIDEO' | translate}}</ion-item-divider>

    <ion-item>
      <div id="playerlive" class="embed-responsive embed-responsive-16by9">
        <div id="placeholderlive" style="width: 100%;  max-width: 480px; max-height: 360px" class="embed-responsive-item"></div>
        <div *ngIf="!onPlayingLive" class="embed-responsive-item" style="width: 100%; z-index: 90; background-color: black; background-image: url(assets/images/liveRS.png); "></div>
      </div>
      <div *ngIf="!onPlayingLive">
        <h4>{{'LIVE_WAIT' | translate }}</h4>
      </div>
    </ion-item>
  </ion-list> -->
  <div>
    <ion-list *ngFor="let mag of issuesCloud">
      <ion-list-header>
        {{'MAG_YEAR' | translate }} {{mag.label}}
      </ion-list-header>
      <button ion-item *ngFor="let issue of mag.editions" (click)="openPDF(issue.link)">
      <ion-thumbnail item-left>
        <img src="{{issue.img}}">
      </ion-thumbnail> 
      {{issue.description | translate }}    
    </button>
    </ion-list>
  </div>

</ion-content>