<ion-header>
  <ion-navbar>
    <ion-title>{{ 'VIDEOS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content center text-center class="card-background">
  <ion-item-divider letf text-left>{{'OUR_VIDEOS' | translate}}</ion-item-divider>

  <!-- <div>
    <div id="player" class="embed-responsive embed-responsive-16by9">
      <div id="placeholder" style="width: 100%;  max-width: 480px; max-height: 360px" class="embed-responsive-item"></div>
      <div class="embed-responsive-item" style="width: 100%;max-width: 711px; max-height: 400px; z-index: 90; background-color: black; background-size:cover;" *ngIf="!onPlaying"></div>
    </div>
  </div> -->


  <ion-searchbar (input)="searchVideos($event)" [placeholder]="'SEARCH' | translate" ></ion-searchbar>

  <div *ngFor="let post of posts">
  <ion-card>
    <img src="{{post.snippet.thumbnails.high.url}}">
    <div class="card-title" (click)="playVideo($event, post)">
      <h1>{{post.snippet.title}}</h1>
    </div>
    <ion-fab top right>
      <button ion-fab class="fab-map" (click)="playVideo($event, post)">
        <ion-icon name='play'></ion-icon>
      </button>
    </ion-fab>
  </ion-card>
  </div>

</ion-content>