page-home {

.item.item-image{
  width: 100vw;
  margin-left: -10px;
  overflow: visible;
}

.my-card.card{
  overflow: visible;
}
img{
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}
}
